
body {
    background: rgb(201, 197, 197);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 50em ;
    line-height: 1.5;
    padding: 4em 1em;
    color: rgb(49, 49, 49);
  }


h2{margin-top: 1em;
    padding-top: 1em;
}

a{
color: #e81c4f;
}

header {
background-color: #263d36;
background-image: url("/img/Blue.jpg");
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
line-height: 1.2;
padding: 10vw 2em;
text-align: center;
color: #f0f0f0;
}

.tabla {
border: 1px solid rgb(49, 19, 13);

}

.table-title {

font-weight: bold;
text-align: center;

}

.anchor{
  margin-left: 20px;
}